<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commande-produit-heading" jhiTranslate="magasinFactureApp.commandeProduit.home.createOrEditLabel">Create or edit a Commande Produit</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="magasinFactureApp.commandeProduit.dateCommande" for="field_dateCommande">Date Commande</label>
                    <div class="d-flex">
                        <input id="field_dateCommande" type="datetime-local" class="form-control" name="dateCommande" formControlName="dateCommande" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateCommande')!.invalid && (editForm.get('dateCommande')!.dirty || editForm.get('dateCommande')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCommande')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateCommande')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="magasinFactureApp.commandeProduit.statut" for="field_statut">Statut</label>
                    <select class="form-control" name="statut" formControlName="statut" id="field_statut">
                        <option value="TERMINEE">{{ 'magasinFactureApp.StatutCommande.TERMINEE' | translate }}</option>
                        <option value="EN_COURS">{{ 'magasinFactureApp.StatutCommande.EN_COURS' | translate }}</option>
                        <option value="ANNULEE">{{ 'magasinFactureApp.StatutCommande.ANNULEE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('statut')!.invalid && (editForm.get('statut')!.dirty || editForm.get('statut')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statut')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="magasinFactureApp.commandeProduit.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="magasinFactureApp.commandeProduit.factureId" for="field_factureId">Facture Id</label>
                    <input type="number" class="form-control" name="factureId" id="field_factureId"
                           formControlName="factureId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="magasinFactureApp.commandeProduit.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" formControlName="client">
                        <option *ngIf="!editForm.get('client')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.email }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('client')!.invalid && (editForm.get('client')!.dirty || editForm.get('client')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('client')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
