<div>
    <h2 id="page-heading">
        <span jhiTranslate="magasinFactureApp.categorieProduit.home.title">Categorie Produits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categorie-produit" [routerLink]="['/categorie-produit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="magasinFactureApp.categorieProduit.home.createLabel">
            Create a new Categorie Produit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="categorieProduits?.length === 0">
        <span jhiTranslate="magasinFactureApp.categorieProduit.home.notFound">No categorieProduits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categorieProduits && categorieProduits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="magasinFactureApp.categorieProduit.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="magasinFactureApp.categorieProduit.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="magasinFactureApp.categorieProduit.tauxTaxe">Taux Taxe</span></th>
                    <th scope="col" ><span jhiTranslate="magasinFactureApp.categorieProduit.importe">Importe</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categorieProduit of categorieProduits ;trackBy: trackId">
                    <td><a [routerLink]="['/categorie-produit', categorieProduit.id, 'view']">{{ categorieProduit.id }}</a></td>
                    <td>{{ categorieProduit.nom }}</td>
                    <td>{{ categorieProduit.description }}</td>
                    <td>{{ categorieProduit.tauxTaxe }}</td>
                    <td>{{ categorieProduit.importe }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/categorie-produit', categorieProduit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/categorie-produit', categorieProduit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(categorieProduit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
