<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorieProduit">
            <h2><span jhiTranslate="magasinFactureApp.categorieProduit.detail.title">Categorie Produit</span> {{ categorieProduit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="magasinFactureApp.categorieProduit.nom">Nom</span></dt>
                <dd>
                    <span>{{ categorieProduit.nom }}</span>
                </dd>
                <dt><span jhiTranslate="magasinFactureApp.categorieProduit.description">Description</span></dt>
                <dd>
                    <span>{{ categorieProduit.description }}</span>
                </dd>
                <dt><span jhiTranslate="magasinFactureApp.categorieProduit.tauxTaxe">Taux Taxe</span></dt>
                <dd>
                    <span>{{ categorieProduit.tauxTaxe }}</span>
                </dd>
                <dt><span jhiTranslate="magasinFactureApp.categorieProduit.importe">Importe</span></dt>
                <dd>
                    <span>{{ categorieProduit.importe }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorie-produit', categorieProduit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
